@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  /* line-height: 1.6; */
  /* padding: 20px; */
  background-color: #f4f4f9;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #3d3d3d;
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

.api-section {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin: 20px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  margin: 10px;
  font-size: 20px;
}

button:hover {
  background: #0056b3;
  transition: 0.3s;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
}

.data-table thead {
  background-color: #007bff;
  color: white;
}

.data-table th, .data-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.font-weight-bold {
  font-weight: 600;
  color: #555;
  width: 30%;
  background-color: #fafafa;
}
